@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/app")
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4 class="brand-heading">Hearth Gallery</h4>
                    <p class="intro-text">Dream deck starts here.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="gallery" class="content-section text-center">
    <div class="row">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Gallery</h2>
                <p> View your favorite cards in Hearthstone!.</p>
                <p> Sort by classes for a neater view and use arrows at the bottom to flip pages.</p>
            </div>
        </div>
    </div>
</section>

<section id="deckbuilder" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Deck Builder</h2>
            <p> Your dream deck starts here!.</p>
            <p> Sort by classes or mana cost for a neater view. Each card can only be added to a deck twice. If the card is of legendary rarity, it can only be added once! A total of 30 cards is required to submit a deck.</p>
            <p>This feature is only open to logged in users.</p>
        </div>
    </div>
</section>
